# Pinpoint Agent 루트 설정
# pinpoint-collector 서비스와 통신

###########################################################
# Collector
###########################################################
profiler.transport.module=GRPC

profiler.collector.ip=pinpoint-collector

# gRPC 포트
profiler.grpc.agent.collector.port=9991
profiler.grpc.metadata.collector.port=9992
profiler.grpc.stat.collector.port=9993
profiler.grpc.span.collector.port=9994
